# Global directories
__pycache__/

# Global files
*.py[codz]

# Root directories
/.venv/
/venv/
/.idea/
/.vscode/
/.coverage_html/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/build/
/dist/
/scratches/

# Project files
/src/kibble/_version.py
/equipment_register.py
